@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px theme('colors.white') inset !important;
    -webkit-text-fill-color: theme('colors.blue.900') !important;
  }
}


html{
    scroll-behavior: smooth;
}

* {
  transition: background-color 0.2s ease, border-color 0.2s ease;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Better scrollbars */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  display: none;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(59, 130, 246, 0.5);
  border-radius: 3px;
  display: none;
}